.partners-section .partners-icons-container {
  overflow: hidden;
}
.partners-section .partners-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 550px) {
  .partners-section .partners-icons {
    justify-content: center;
  }
}
