.partners-section .partners-icons-container {
  overflow: hidden;
}
.partners-section .partners-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 4rem;
  flex-wrap: wrap;
}
.partners-section .partners-icons li img {
  max-height: 100px;
  max-width: 190px;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .partners-section .partners-icons {
    justify-content: center;
  }
}
