.contact-section {
  position: relative;
  background: rgba(0, 0, 0, 0) url("../../assets/img/cta_bg.jpg") no-repeat
    fixed center center / cover;
  padding: 100px 0;
  margin: 120px 0;
  text-align: center;
}
.contact-section::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #10054d 0%, #45108a 100%);
  opacity: 0.95;
  inset: 0;
  z-index: -1;
}
.contact-section .contact-header {
  color: #fff;
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 1em;
  letter-spacing: -1.6px;
  max-width: 700px;
}
.contact-section .contact-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  max-width: 800px;
  margin: 1.5rem auto;
}
.contact-section .contact-btn {
  display: inline-block;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 10px 2.5rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background: transparent;
  font-size: 1.3rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  overflow: hidden;
}
.contact-section .contact-btn:hover {
  border-color: #45108a;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #10054d 0%, #45108a 100%);
}
@media screen and (max-width: 650px) {
  .contact-section .contact-header {
    font-size: 3rem;
  }
  .contact-section .contact-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .contact-section .contact-header {
    font-size: 2.5rem;
  }
}
